@import './_var.styl';

.avater {
    width: $page-header-height;
    height: $page-header-height;
    display: inline-block;
    padding: 4px;
    box-sizing: border-box;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 1px 2px #252525;
        border-radius: 50%;
        box-sizing: border-box;
    }
}
