@import './_var.styl';

.page-top-menu {
    // display: flex;
    // align-items: center;
    .nav-item {
        color: inherit;
        margin: 0 12px;
        text-decoration: none;

        &:hover {
            font-weight: blod;
            color: #f0f;
        }
    }
}