ul
    list-style none
    padding: 0
    margin: 0

@font-face
    font-family: PingFang;
    // src: url('/font/chinese.msyh.ttf')
    src: url('http://dns.freehan.tk:8080/static/font/PingFang_Medium.otf')

*
    font-family: PingFang,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
