<div class="avater dropdown">
    <img src="http://blog.cloudmantra.net/wp-content/uploads/2018/04/docker-cloudmantra-aws.png" alt="" srcset=""
        data-toggle="dropdown">
    <div class="dropdown-menu">
        <ul>
            <li>github</li>
            <li>github</li>
        </ul>
    </div>
</div>